.jumbotron  {
    background-image: url("https://java.codeup.com/examples/bootstrap/pizza.png");
    background-size: cover;


}
.display-4 {
    background-color: white;
    text-align: center;
    opacity: 0.6;



}
div.jumbotron{
    margin-left: auto;
    margin-right: auto;

}

.form-check{
    margin-left: 1.5em;
    padding: .2em;
    margin-top: .3em;
    margin-bottom: .3em;
}

.card-header{
    margin-top: 1em;
    background-color: #007bff;
    color: white;
    margin-bottom: 1em;
}
ul.list-group{
    margin-left: 1em;

}

.card {
    margin: .5em 0;
}

#list-item-background-color{
    background-color: #cccccc;

}

#align-right{
    position: relative;
    padding: 1em;
}


.form-group {
    margin-left: 1em;
    margin-right: 1em;
}

 .list-group-item {
     margin-right: 1em;
 }

 .btn-group {
  margin: 1em;
     float: right;
     right: 0;
 }

 .btn-secondary{
     background-color: #007bff;
     border-color: #cccccc;

 }
 .btn-primary{
     float: right;
 }

